// RESPONSIVE
@mixin enter($kind) {
  @if ($kind == "pc") {
    @media screen and (min-width: 1800px) {
      @content;
    }
  } @else if ($kind == "notebook") {
    @media screen and (max-width: 1799px) and (min-width: 1200px) {
      @content;
    }
  } @else if ($kind == "tablet") {
    @media screen and (max-width: 1199px) and (min-width: 768px) {
      @content;
    }
  } @else if ($kind == "mobile") {
    @media screen and (max-width: 767px) {
      @content;
    }
  }
} // @include enter(pc) {}

// 해상도에 맞춘 비율
@function ratio($px, $width) {
  @return calc($px / $width * 100vw);
}

// FLEX
@mixin flex_row($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex_column($direction: column) {
  display: flex;
  flex-direction: $direction;
}

// POSITION
@function position($type: r) {
  @if($type == "a") {
    @return absolute;
  } @else if($type == "s") {
    @return static;
  } @else if($type == "sck") {
    @return sticky;
  } @else if($type == "f") {
    @return fixed;
  } @else if($type == "r") {
    @return relative;
  }
}

// WORD SKIP
@mixin words_skip($line: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// DISABLE SCROLL
@mixin disable_scroll {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

// PROJECT CUSTOM

