// COLOR
$text-color--default: #181A1B;

$point-color--default: #FFF;
$point-color--second: #FEFEFE;

$border-color--default: #E7EBEE;

// FONT-SIZE
$font-size--default: 16px;

// WIDTH
$width--min: 460px;
$width--max: 1920px;

// TRANSITION
$transition--default: 0.2s linear all;



