// COLOR
$TEXTCOLOR__default: #181A1B;

$POINTCOLOR__default: #FFF;

$BORDERCOLOR__default: #E7EBEE;

// FONT-SIZE
$FONTSIZE__default: 18px;

// WIDTH
$MIN_WIDTH: 460px;

// TRANSITION
$TRANSITION: 0.2s linear all;
