@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  color: #181A1B;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

.view {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.element__title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.element__content ul li.active {
  color: red;
}

.modal {
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear all;
}
.modal__wrap {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 50%;
  bottom: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 50%);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear all;
  padding: 0 10px;
}
.modal__wrap.active {
  opacity: 1;
  visibility: visible;
}
.modal__wrap.active .modal__back {
  opacity: 1;
}
.modal__wrap.active .modal {
  visibility: visible;
  opacity: 1;
}
.modal__back {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
  transition: 0.2s linear all;
}

.select__wrap {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.stReg {
  padding-bottom: 30%;
}

.select__wrap label {
  display: block;
  font-size: 16px;
  color: gray;
  margin-bottom: 8px;
}
.select__wrap.select__view {
  display: none;
}
.select__wrap.select__view.on {
  display: block;
}
.select__wrap select {
  display: none;
}
.select__wrap .select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-image: url(/assets_2nd/img/icon/down_arrow.svg);
  background-repeat: no-repeat;
  background-position: right 2% center;
  background-size: 24px;
}
.header .select__wrap .select {
  background-position: right 15px center;
}

.select__wrap .select ~ .select {
  margin-top: 10px;
}
.select__wrap .select ul {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s linear all;
  width: 100%;
  height: 0;
  border-radius: 8px;
  border: 1px solid #E7EBEE;
  background-color: #FFF;
  overflow: hidden;
  z-index: 10;
}
.select__wrap .select.active ul {
  visibility: visible;
  opacity: 1;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: unset;
  max-height: 210px;
  overflow-y: scroll;
}
.select__wrap .select.active ul::-webkit-scrollbar {
  display: none;
}
.select__wrap .select__value {
  font-weight: 600;
}
.select__wrap .select__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
  background-color: #FFF;
  font-weight: 500;
}
.select__wrap .select__item + .select__item {
  border-top: 1px solid #E7EBEE;
}
.select__wrap .select__item.selected {
  position: relative;
  font-weight: 700;
}
.select__wrap .select__item.selected::after {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  content: "";
  background-image: url(/assets_2nd/img/icon/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}/*# sourceMappingURL=style.css.map */